
body{
    font-family: sans-serif;
}

section{
text-align: center;
}

section img{
    transition: 0.3s;
}

section img:hover{
    transform: scale(1.1) ;
}

/*img {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    object-fit: cover;*/
/*    padding: 10px;*/
/*}*/

img{
    padding: 10px;
}

div{
    text-align: center;
}

h1{
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 100px;

}

#backdrop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(10,10,10,0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

#modal{
    background-color: white;
    width: 50vw;
    height: 50vh;
    display: flex;

}